<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role"button" aria-haspopup="true" aria-expanded="false">Animated GIFs Supported <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>
      <a href='/turbo'>Turbo</a>
    </li>
    <li>
      <a href='/spin'>Spin</a>
    </li>
    <li>
      <a href='/marquee'>Marquee</a>
    </li>
    <li>
      <a href='/resize'>Resize</a>
    </li>
    <li>
      <a href='/mirror'>Mirror</a>
    </li>
    <li>
      <a href='/noify'>No-ify</a>
    </li>
    <li>
      <a href='/magrittify'>Magrittify</a>
    </li>
    <li>
      <a href='/reverse'>Reverse</a>
    </li>
    <li>
      <a href='/appendify'>Appendify [BETA]</a>
    </li>
  </ul>
</li>
