<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role"button" aria-haspopup="true" aria-expanded="false">Overlayers<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>
      <a href='/bloodify'>Bloodify</a>
    </li>
    <li>
      <a href='/fireify'>Fireify</a>
    </li>
    <li>
      <a href='/gotify'>GoTify</a>
    </li>
    <li>
      <a href='/noify'>No-ify</a>
    </li>
    <li>
      <a href='/magrittify'>Magrittify</a>
    </li>
    <li>
      <a href='/waitify'>Waitify</a>
    </li>
    <li>
      <a href='/shakefistify'>Shakefistify</a>
    </li>
    <li>
      <a href='/tearsify'>Tearsify</a>
    </li>
    <li>
      <a href='/customoverlayer'>Custom [BETA]</a>
    </li>
  </ul>
</li>
