<%= erb :generic_header %>
<body>
  <%= erb :nav %>
  <div class="container">
    <div class="starter">
      <h1>Total Emojis as a Service! (TEaaS)</h1>
      <p class='lead'>
        <a href='/turbo'>Turbo</a>
        |
        <a href='spin'>Spin</a>
        |
        <a href='marquee'>Marquee</a>
        |
        <a href='intensify'>Intensify</a>
        |
        <a href='pulse'>Pulse</a>
        |
        <a href='bloodify'>Bloodify</a>
        |
        <a href='fireify'>Fireify</a>
        |
        <a href='parrotify'>Parrotify</a>
        |
        <a href='gotify'>GoTify</a>
        |
        <a href='resize'>Resize</a>
        |
        <a href='mirror'>Mirror</a>
        |
        <a href='noify'>No-ify</a>
        |
        <a href='magrittify'>Magrittify</a>
        |
        <a href='reverse'>Reverse</a>
        |
        <a href='waitify'>Waitify</a>
        |
        <a href='shakefistify'>Shakefistify</a>
        |
        <a href='tearsify'>Tearsify</a>
      </p>
    </div>
  </div>
</body>
