!!!
= haml :generic_header
%body
  = haml :nav
  %div.container
    %div.starter
      %h1 Total Emojis as a Service! (TEaaS)
      
      %p.lead
        %a(href="/turbo") Turbo
        |
        %a(href="spin") Spin
        |
        %a(href="marquee") Marquee
