!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total (or marquee) Emojis as a Service! (TEaaS)

      %p Want to generate your own INTENSIFIED emoji? Here's the place!

      %h2 LET THE FORM BEGIN!
      %form(method="POST" action="/intensify" enctype="multipart/form-data")
        %p Note: File should not be animated (static GIFs are supported)
        = haml :upload_button
        = haml :_form_footer
