!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total (or marquee) Emojis as a Service! (TEaaS)

      %p Want to generate your own marquee emoji? Here's the place!

      %h2 LET THE FORM BEGIN!
      %form(method="POST" action="/marquee" enctype="multipart/form-data")
        = haml :upload_button
        %br
        .checkbox
          %label(for="crop")
            %input(type="checkbox" id="crop" name="crop" value="true")
            Crop the image if it's taller than it is wide (to prevent gaps between emojis in programs like Slack)
        %h3 Marquee direction options
        .radio
          .btn-group
            %label(for="marquee_r")
              %input(type="radio" id="marquee_r" name="marquee_direction" value="r" checked="checked")
                To the right (default)
            %br
            %label(for="marquee_l")
              %input(type="radio" id="marquee_l" name="marquee_direction" value="l")
                To the left
            %br
            %label(for="marquee_u")
              %input(type="radio" id="marquee_u" name="marquee_direction" value="u")
                Upwards
            %br
            %label(for="marquee_d")
              %input(type="radio" id="marquee_d" name="marquee_direction" value="d")
                Downwards
        = haml :_form_footer
