!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total (or marquee) Emojis as a Service! (TEaaS)

      %p Want to generate your own marquee emoji? Here's the place!

      %h2 LET THE FORM BEGIN!
      %form(method="POST" action="/marquee" enctype="multipart/form-data")
        = haml :upload_button
        %br
        .checkbox
          %label(for="reverse")
            %input(type="checkbox" id="reverse" name="reverse" value="true")
            Reverse the marquee direction
        .checkbox
          %label(for="vertical")
            %input(type="checkbox" id="vertical" name="vertical" value="true")
            Make the marquee go vertically (instead of horizontally)
        .checkbox
          %label(for="crop")
            %input(type="checkbox" id="crop" name="crop" value="true")
            Crop the image if it's taller than it is wide (to prevent gaps between emojis in programs like Slack)
        = haml :_form_footer
