!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total (or marquee) Emojis as a Service! (TEaaS)

      %p Want to generate your own marquee emoji? Here's the place!

      %h2 LET THE FORM BEGIN!
      %form(method="POST" action="/marquee" enctype="multipart/form-data")
        = haml :upload_button
        %br
        .checkbox
          %label(for="reverse")
            %input(type="checkbox" id="reverse" name="reverse" value="true")
            Reverse the marquee direction
        = haml :_form_footer
