!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total Emojis as a Service! (TEaaS)

      %p Want to mirror (flip on the horizontal axis) an emoji? Here's the place

      %h2 LET THE FORM BEGIN!
      %form(method="POST" action="/mirror" enctype="multipart/form-data")
        = haml :upload_button
        = haml :_form_footer
