<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button aria-controls='navbar' aria-expanded='false' class='navbar-toggle collapsed' data-target='#navbar' data-toggle='collapse' type='button'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='/'>TEaaS</a>
    </div>
    <div class='collapse navbar-collapse' id='navbar'>
      <ul class='nav navbar-nav'>
        <li>
          <a href='/turbo'>Turbo</a>
        </li>
        <li>
          <a href='/spin'>Spin</a>
        </li>
        <li>
          <a href='/marquee'>Marquee</a>
        </li>
        <li>
          <a href='/intensify'>Intensify</a>
        </li>
        <li>
          <a href='/pulse'>Pulse</a>
        </li>
        <li>
          <a href='/bloodify'>Bloodify</a>
        </li>
        <li>
          <a href='/fireify'>Fireify</a>
        </li>
        <li>
          <a href='/parrotify'>Parrotify</a>
        </li>
        <li>
          <a href='/gotify'>GoTify</a>
        </li>
        <li>
          <a href='/resize'>Resize</a>
        </li>
        <li>
          <a href='/mirror'>Mirror</a>
        </li>
        <li>
          <a href='/noify'>No-ify</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
