%nav.navbar.navbar-inverse.navbar-fixed-top
  %div.container
    %div.navbar-header
      %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a(class="navbar-brand" href="/") TEaaS
    %div.collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav
        %li
          %a(href="/turbo") Turbo
        %li
          %a(href="/spin") Spin
        %li
          %a(href="/marquee") Marquee
        %li
          %a(href="/intensify") Intensify
        %li
          %a(href="/pulse") Pulse
        %li
          %a(href="/bloodify") Bloodify
