!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 No. (TEaaS)

      %h2 LET THE FORM BEGIN!
      %form(method="POST" action="/noify" enctype="multipart/form-data")
        %p Note: Animated GIFs are supported!
        = haml :upload_button
        = haml :_form_footer
