!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total(ly different sized) Emojis as a Service! (TEaaS)

      %p Have something animated already and just want to resize it? Here you go!

      %h2 LET THE FORM BEGIN!
      %form(method="POST" action="/resize" enctype="multipart/form-data")
        %p Note: Image returned will always be a GIF, even if the input is a static image
        = haml :upload_button
        = haml :_form_footer
