!!!
%head
  = haml :generic_header

%body
  = haml :nav
  .container
    %h1 RESULTS!!!
    - if ENV['AWS_S3_BUCKET_NAME']
      Note: These emojis are saved for a limited time only. Make sure to download the ones you want to keep!
      %br
      - @result.each do |r|
        %img(src=r)
        %br
        %br
    - else
      - @result.each do |r|
        %img(src="data:image/gif;base64,#{r}")
        %br
        %br
