<div class='form-group'>
  <div class='file-wrapper'>
    Max file size: 500kb. gif, png, or jpg only.
    <br>
    <input id='emoji' name='second_imagefile' type='file'>
    <label class='btn btn-default btn-lg' for='exampleInputFile'>Choose Second Image</label>
    </input>
  </div>
  <br>
</div>
