!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total (or spinny) Emojis as a Service! (TEaaS)

      %p Want to generate your own spinny emoji? Here's the place!

      %h2 LET THE FORM BEGIN!
      %form.form-horizontal(method="POST" action="/spin" enctype="multipart/form-data")
        %p Note: Unless animate is selected, any GIF will be spun as a static image
        = haml :upload_button
        %br
        .form-group.form-inline
          %select#rotations.form-control(type="number" name="rotations")
            - (1..50).each do |i|
              - selected = i == 4 
              %option(value=i selected=selected)=i
          %label(for="rotations") Number of rotations
        .checkbox
          %label(for="counterclockwise")
            %input(type="checkbox" id="counterclockwise" name="counterclockwise" value="true") 
            Spin counterclockwise instead of clockwise
        .checkbox
          %label(for="animate")
            %input(type="checkbox" id="animate" name="animate" value="true")
            Animate the image (if it's a GIF)
        = haml :_form_footer
