!!!
= haml :generic_header
%body
  = haml :nav
  .container
    .starter
      %h1 Total (or spinny) Emojis as a Service! (TEaaS)

      %p Want to generate your own spinny emoji? Here's the place!

      %h2 LET THE FORM BEGIN!
      %form.form-horizontal(method="POST" action="/spin" enctype="multipart/form-data")
        %p Note: File should not be animated (static GIFs are supported)
        = haml :upload_button
        %br
        .form-group.form-inline
          %select#rotations.form-control(type="number" name="rotations")
            - (1..50).each do |i|
              - selected = i == 4 
              %option(value=i selected=selected)=i
          %label(for="rotations") Number of rotations
        .checkbox
          %label(for="counterclockwise")
            %input(type="checkbox" id="counterclockwise" name="counterclockwise" value="true") 
            Spin counterclockwise instead of clockwise
        .checkbox
          %label(for="animate")
            %input(type="checkbox" id="animate" name="animate" value="true")
            Animate the image (if it's a GIF)
        .checkbox
          %label(for="resize")
            %input(type="checkbox" id="resize" name="resize" value="32x32") 
            Resize* the image to attempt to make the filesize smaller.
        %br
        %input.btn.btn-primary(type="submit" value="GOGOGOGOGOGOGOGO")
      %br
      * The image will be resized to 32x32, but the aspect ratio will be retained, so you may up with an image with dimensions 32x12 or 10x32 for example.
