.form-group
  .file-wrapper
    Max file size: 500kb. gif, png, or jpg only.
    %br
    %input(type="file" name="imagefile" id="emoji")
      %label.btn.btn-default.btn-lg(for="exampleInputFile") Choose Image
  %br
  OR
  %br
  %label(for="emojipath") Paste a URL here
  %br
  %input(type="text" name="fileurl" id="emojipath")
