body {
  padding-top: 50px;
}
.starter {
  padding: 40px 15px;
  text-align: center;
}
input[type=file] {
    margin: 0 auto;
}
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper input {
  cursor: pointer;
  font-size: 100px;
  height: 100%;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}
.file-wrapper .button {
  background: #131205;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
  padding: 4px 18px;
  text-transform: uppercase;
}

.resizeany input[type=text] {
  width: 30px;
}

input[type=text] {
  width: 600px;
}

.navbar-brand img {
  padding-top: 3px;
}

/* Upload to slack classes */
.toggle {
  display: none;
}

.output-container {
  outline: 1px solid black;
  box-shadow: 1em 1em 1em #6ec4cb;
  padding: 1em;
  height: auto;
  width: 100%;
  max-height: 50vh;
  overflow: auto;
  float: left;
  margin-bottom: 3em;
}
.output-container:nth-child(4n + 1){
  box-shadow: 1em 1em 1em #cf0e5b;
}
.output-container:nth-child(4n + 2){
  box-shadow: 1em 1em 1em #3aae84;
}
.output-container:nth-child(4n + 3){
  box-shadow: 1em 1em 1em #e2a52e;
}

.output__action-container {
  width: auto;
  height: auto;
  overflow: hidden;
}

.output__content-image, .output__action-button-container {
  float: left;
}

.output__upload-container {
  float: right;
  width:90%;
}
